html, body, #map-canvas  {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map-canvas {
  width:500px;
  height:480px;
}

#myMapModal .fade.in { opacity:0 !important; }

div[id^="historia"] .fade.in { opacity:0 !important; }
.modalhistory {
    position: fixed;
    top: 0;
    right: 15px;
    bottom: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
