.video-conference {
    max-width: 640px;
    max-height: 580px;
    border: 1px solid black;
    min-width: 400px;
    min-height: 400px;
}

.videos{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.video-local{
    max-width: 150px;
    max-height: 150px;
    border: 1px solid black;
    min-width: 150px;
    min-height: 150px;
    position: absolute; 

}

.video-local-asegurado{
    max-width: 150px;
    max-height: 150px;
    border: 1px solid black;
    min-width: 150px;
    min-height: 150px;
    position: absolute; 

}

.video-remote{
    max-width: 640px;
    max-height: 480px;
    border: 1px solid black;
    min-width: 550px;
    min-height: 600px;
    position: relative;
}


.remoteVideoDoc{
    border: 1px solid black;
    position: relative;
    background-color: black;
    max-width: 555px;
    max-height: 580px;
    min-width: 400px;
    min-height: 400px;
}

.localVideoDoc{
    /*border: 1px solid grey;*/
     max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    /*position: absolute;*/
    bottom: 0;
    right: 0;
    /*background-color: black;*/
}

.remoteVideoIns{
    border: 1px solid black;
    position: relative;
    background-color: black;
    width: 100%;
    max-height: 90%;
    min-width: 250px;
    min-height: 420px;
}

.localVideoIns{
    
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    
}

.remoteVideoInsMob{
    border: 1px solid black;
    position: relative;
    background-color: black;
    width: 100%;
    max-height: 90%;
    min-width: 250px;
    min-height: 420px;
}

.localVideoInsMob{
    
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    
    
}

.callcenter{
   
    max-width: 350px;
    max-height: 350px;
    min-width: 200px;
    min-height: 550px;

}


/*css llamada central telefonica*/

        .call-options {
            padding: 5px;
            background-color: #f0f0f0;
            border: 1px solid #eee;
            border: 1px solid rgba(0, 0, 0, 0.08);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            -o-transition-property: opacity;
            -webkit-transition-duration: 2s;
            -moz-transition-duration: 2s;
            -o-transition-duration: 2s;
        }

        .tab-video,
        .div-video {
            width: 100%;
            height: 0px;
            -webkit-transition-property: height;
            -moz-transition-property: height;
            -o-transition-property: height;
            -webkit-transition-duration: 2s;
            -moz-transition-duration: 2s;
            -o-transition-duration: 2s;
        }

        .label-align {
            display: block;
            padding-left: 15px;
            text-indent: -15px;
        }

        .input-align {
            width: 13px;
            height: 13px;
            padding: 0;
            margin: 0;
            vertical-align: bottom;
            position: relative;
            top: -1px;
            *overflow: hidden;
        }

        .glass-panel {
            z-index: 99;
            position: fixed;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            opacity: 0.8;
            background-color: Gray;
        }

        .div-keypad {
            z-index: 100;
            position: fixed;
            -moz-transition-property: left top;
            -o-transition-property: left top;
            -webkit-transition-duration: 2s;
            -moz-transition-duration: 2s;
            -o-transition-duration: 2s;
        }

        .previewvideo {
            position: absolute;
            width: 88px;
            height: 72px;
            margin-top: -42px;
        }

 /*CSS CRONOMETRO*/

 #contenedorreloj{
  margin: 10px auto;
  width: 300px;
}
.reloj{
  float: left;
  font-size: 40px;
  font-family: Courier,sans-serif;
  color: #363431;

}